<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>250946094205-dhb0p5h02rogr8d13b4qcinqft6mtnl3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.250946094205-dhb0p5h02rogr8d13b4qcinqft6mtnl3</string>
	<key>API_KEY</key>
	<string>AIzaSyBNKce9rEbKZoAokWLGbO3cxBgbpAHM4XQ</string>
	<key>GCM_SENDER_ID</key>
	<string>250946094205</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.minuit.wakandha</string>
	<key>PROJECT_ID</key>
	<string>wakandha-c7cea</string>
	<key>STORAGE_BUCKET</key>
	<string>wakandha-c7cea.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:250946094205:ios:11f1440a52a90a3569dd14</string>
	<key>DATABASE_URL</key>
	<string>https://wakandha-c7cea.firebaseio.com</string>
</dict>
</plist>